@CHARSET "ISO-8859-1";

.red {
	color: red;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0
}

div#topsearch{
		top: 1;
	left: 0;
	margin-left: 5px;
	margin-bottom: 5px;
padding-bottom:5px;
}
div#NW {
	top: 10;
	left: 0;
	margin-left: 5px;
	margin-top: 15px;
	
	width: 50%;
	height: 40%;
	padding-top:50px;
}

div#NE {
	top: 10;
	left: 50%;
	margin-left: 10px;
	margin-top: 50px;
	
	width: 50%;
	height: 40%;
	padding-top: 20px;
}

div#SW {
	top: 50%;
	left: 0;
	margin-left: 5px;
	
	width: 50%;
	height: 40%;

}

div#SE {
	top: 50%;
	left: 50%;
	margin-left: 10px;
	
	width: 50%;
	height: 40%
}